.datepicker-days tbody tr:hover {
    background-color: #eee;
}

.datepicker table tr {
    td.day.focused,
    td.day:hover,
    td.active,
    td.active:hover.active,
    td.active.active,
    td.active:hover {
        background: none;
    }

    td.active,
    td.active:hover.active,
    td.active.active,
    td.active:hover {
        color: rgb(33, 37, 41);
    }
}
